.fea-layout {
  margin-left: 6rem;
  margin-right: 6rem;

  .fea-header {
    font-size: 2em;
    font-weight: 700;
    width: 100%;

    @media (max-width: 768px) {
      font-size: 1.7em;
    }
  }

  @media (max-width: 768px) {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}